.btn {
    margin-right: 5px;

}


.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions{
    width: 105px;

}



.todoForm{
    padding-bottom: 60px;

}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: auto;
}

